@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    height: 100%;
    font-size: 11px !important;
    margin: 0;
    padding: 0;
    background: url(resources/images/1.jpg) center no-repeat fixed #000;
    overflow: hidden;
}

.page {
    font-family: 'Roboto', sans-serif !important;    
}

.ui-panelmenu .ui-menuitem {
    margin: 1px 18px;
}

.dashboard-pagination .ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text {
    font-size: 12px;
    padding: 0 0 4px;
    background: transparent;
    border-color: transparent;
}

.dashboard-pagination .ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
    padding: 1px 3px;
    margin: 1px;
    display: initial;
    border: initial;
    border-radius: 5px;
}

.ui-paginator>a>span {
    padding: 2px;
}

.toolbar__left {
    width: 0%;
}

.dashboard-paginator .mat-paginator-range-label {
    margin: 0px;
}

.progress-bar__primary, .progress-bar__secondary {
    background-color: red;
}

.example-header .mat-mini-fab .mat-button-wrapper{
    padding: 0px;
}

mat-card-content.mat-card-content {
    margin-bottom: 0px;
}

.page__background {
    background-color: transparent;
}

.toolbar:not(.toolbar--transparent) + .page__background, .toolbar:not(.toolbar--cover-content) + .page__background + .page__content {
    top: 35px;
}

.splash-logo {
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -47px;
    z-index: 2;
    position: absolute;
    width: 90px;
    /* background-image: url('resources/images/new_logo-o.png'); */
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
  left: 50%;
  top: 50%;
  margin-left: -58px;
  margin-top: -62px;
  position: absolute;
  vertical-align: middle;
  background: #8ee5ee;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader::before {
  content: "";
  animation: bounce 1.5s infinite;
}

.splash-loader::after {
    content: "";
    animation: bounce 1.5s -0.4s infinite;
}

.splash-screen {
    background-color: #f3f3f3;
    height: 100%;
}

.splashDiv {
    top: 10%;
    position: relative;
}